{% load i18n %}

<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">
            {% trans 'Copyright &copy; Your Website' %} {% now "Y" %}
        </p>
    </div>
    <!-- /.container -->
</footer>