{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">{% trans 'Наш блог' %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
{#                <li class="nav-item active">#}
{#                    <a class="nav-link" href="#">Home#}
{#                        <span class="sr-only">(current)</span>#}
{#                    </a>#}
{#                </li>#}

                {% if user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_registration' %}">{% trans 'Регистрация' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">{% trans 'Авторизация' %}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">{% trans 'Выйти' %}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">{% trans 'Привет' %} {{ user.get_full_name }}!</a>
                </li>
            </ul>
        </div>
    </div>
</nav>