<html lang="ru">
<body>
<form method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        <h2>Форма деления:</h2>
        <label for="{{ form2.c.id_for_label }}">Я лейбл для c</label>
        {{ form2.c }}<br><br>
        {{ form2.c.errors }}<br><br>
        {{ form2.d.label }}
        {{ form2.d }}
        {{ form2.d.errors }}
    </p>
    {% for error in form2.non_field_errors %} {{error}}, {% endfor %}
    <button type="submit">Отправить</button>
</form>
<p>a: {{ a }}</p>
<p>b: {{ b }}</p>
<p>c: {{ c }}</p>
<p>d: {{ d }}</p>
{% if sum %}
<p>Сумма: {{ sum }}</p>
{% endif %}
{% if div %}
<p>Результат: {{ div }}</p>
{% endif %}
</body>
</html>