{% load i18n %}

<h1>{% trans 'Форма редактирования профиля' %}</h1>

<form method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans 'Отправить' %}</button>
</form>