{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {{ block.super }}{% trans 'Главная страница' %}
{% endblock %}

{% block content %}
    {% with is_detail=0 %}
        {% for object in object_list %}
            {% include 'post/preview.html' %}
        {% endfor %}
    {% endwith %}

    <ul class="pagination justify-content-center mb-4">

        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">

            <a class="page-link"
               {% if page_obj.has_next %}
                href="{{ request.path }}?page={{ page_obj.next_page_number }}"
               {% else %}
                href="#"
               {% endif %}
            >&larr; {% trans 'Назад' %}</a>

        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">
                {% blocktrans with current_page=page_obj.number total_pages=page_obj.paginator.num_pages %}
                    {{ current_page }} из {{ total_pages }}
                {% endblocktrans %}
            </a>
        </li>
        <li class="page-item {% if not page_obj.has_previous  %}disabled{% endif %}">
            <a class="page-link"
               {% if page_obj.has_previous %}
                href="{{ request.path }}?page={{ page_obj.previous_page_number }}"
               {% else %}
                href="#"
               {% endif %}
            >{% trans 'Вперед' %} &rarr;</a>
        </li>
    </ul>
{% endblock %}
