{% load i18n %}

<div class="card mb-4">
    {% if object.image %}
        <img class="card-img-top" src="{{ object.image.url }}" alt="{{ object.title }}">
    {% else %}
        <img class="card-img-top" src="http://placehold.it/750x300" alt="{{ object.title }}">
    {% endif %}
    <div class="card-body">
        <h2 class="card-title">{{ object.title }}</h2>
        <p class="card-text">
            {% if is_detail == 0 %}
                {{ object.preview }}
            {% else %}
                {{ object.text }}
            {% endif %}
        </p>
        {% if is_detail == 0 %}
            <a href="{% url 'post_detail' object.pk %}" class="btn btn-primary">
                {% trans 'Подробнее &rarr;' %}
            </a>
        {% endif %}
    </div>
    <div class="card-footer text-muted">
        {% trans 'Опубликовано в' %} {{ object.created_datetime }}
{#        <a href="#">Start Bootstrap</a>#}
    </div>
</div>